
<div class="jumbotron">
	<div class="container; center">
		<h1>Welcome to my app</h1>
			<p> click here <br>
			<a class="btn btn-primary btn-lg">Sign Up</a>
			<%= link_to "log in", "#", class: "btn btn-default btn-lg" %>
		</p>
	</div>
</div>

